<h1 class="m-b-30 text-center text-secondary font-weight-bold">Lista de Pessoas</h1>
<table class="table">
  <thead class="thead bg-info text-white">
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="listagem">

  </tbody>
</table>

<br>

<button class="btn btn-info text-white" id="novo">Nova Pessoa</button>
