<div class="card border-info">
	<h5 class="card-header bg-info text-white">Cadastrar Pessoa</h5>
	<div class="card-body">
		<form>
			<div class="form-group">
				<label>Nome</label>
				<input type="text" class="form-control" id="nome" placeholder="Nome">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" id="login" placeholder="Email">
			</div>
			<div class="form-group">
				<label>Senha</label>
				<input type="password" class="form-control" placeholder="Senha" id="senha">
			</div>
		</form>
	</div>
	<div class="card-footer">
		<button id="salvar" class="btn btn-success">Salvar</button>
		<button class="btn btn-secondary text-white voltar">Voltar</button>
	</div>
</div>


