<div class="card border-info">
	<h5 class="card-header bg-info text-white">Visualizar Pessoa</h5>
	<div class="card-body">
		<form>
			<div class="form-group">
				<label>Nome</label>
				<p id="nome"></p>
			</div>
			<div class="form-group">
				<label>Email</label>
				<p id="login"></p>
			</div>
		</form>
	</div>
	<div class="card-footer">
		<button class="btn btn-secondary text-white voltar">Voltar</button>
	</div>
</div>


